<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Please follow the link below to reset your password:</p>
    <a href="{{ resetLink }}">Reset Password</a>
</body>
</html>
